<!doctype html>
<html>
    <head>
    <title>EasyDojo Panel</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/panel.js") }}"></script>
</head>
<body>
    <div id="green" style="width:100px;height:100px;border:1px solid #000;" class="off"></div>
    <div id="red" style="width:100px;height:100px;border:1px solid #000;" class="off"></div>
</body>
</html>
