<!doctype html>
<html>
    <head>
    <title>EasyDojo Panel</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/panel.js") }}"></script>
</head>
<body>
    <div id="signal" class="off"></div>
    <div id="countdown"></div>
    <div id="controls">
        <button id="restart">Restart</button>
        <button id="resume_pause">Pause</button>
    </div>
</body>
</html>
